.list {
    display: flex;
    flex-flow: column;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    overflow-y: auto;
    min-height: 200px;
}

.dragIcon {
    position: absolute;
    top: 30px;
    left: -30px
}