.list {
    flex-grow: 1;
    flex-basis: 0px;
    overflow: auto;
    min-height: 200px;
}

.section-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
    text-align: center;
}