.modal{
    background-color:#131316;
    text-align: center;
    border-radius:15px;
}

.modalHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.composition{
    display: flex;
    gap: 20px;
    justify-content: center;
}