.general {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
}

.info {
    display: flex;
    flex-flow: column;
}

.cost {
    display: flex;
    justify-content: center;
}