html,
body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#react-modals {
	position: relative;
  	z-index: 999;
}

ul {
	padding: 0px;
}


.scrollable::-webkit-scrollbar {
	width: 12px;
}

.scrollable::-webkit-scrollbar-track {
	background: #2F2F37;
}

.scrollable::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.link-drop-style{
	color: var(--text-primary-color);
	text-decoration: none;
}