.nav {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.navItem {
    flex: 1 1 0px;
}

.navContainer {
    display: flex;
    justify-content: space-around;
}

.link {
    display: flex;
}